.post {
  border : 1px solid black;
  padding : 10px;
  text-align: center;
}

.post img {
  width: 100%;

}

.notif {
  background-color: yellow;
  color : black;
}

body {
  background-color: #d50000
}
